<br>
<button (click)='showDatos()' type="button" class="btn btn-success">
    {{estado ? 'Ocultar Datos': 'Ver Datos Post'}}
</button>
<table *ngIf='estado' class="table table-sm">

    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dato of datos">
            <th scope="row">1</th>
            <td>{{dato.id}}</td>
            <td>{{dato.title}}</td>
            <td>{{dato.body}}</td>
        </tr>

    </tbody>
</table>